.card {
  width: 450px;
  margin-bottom: 100px;

  border-radius: 12px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.card__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 32px;
}

.carg__img {
  display: block;
  width: 100%;
  max-width: 250px;
  margin-bottom: 32px;

  background-color: #f4f0f0;
  background-size: 50%;

  border-radius: 50%;
}

.card__name {
  margin-bottom: 16px;

  font-size: 32px;
  font-weight: 700;
}

.card__text {
  margin-bottom: 16px;

  font-size: 24px;
  color: #6d7178;
}

.card__list {
  display: flex;
  justify-content: center;

  border-top: 1px solid #d6d6d6;
  background-color: #f4f0f0;
}

.card__item {
  width: 33.333%;
  padding: 24px;

  text-align: center;

  :not(:last-child) {
    border-right: 1px solid #d6d6d6;
  }
}

.card__itemName {
  display: block;

  font-size: 22px;
  color: #6d7178;
}

.card__itemValue {
  display: block;
  color: #6d7178;
  margin-top: 12px;

  font-size: 22px;
  font-weight: 700;
  color: black;
}
